$app-width: 1920px;
$app-height: 1080px;

.muski-drums-app {
  width: $app-width;
  height: $app-height;
  overflow: hidden;
  position: relative;

  .muski-drums {
    position: absolute;
    top: 160px;
    left: 375px;
    transform: scale(1.25);
    transform-origin: top left;

    .muski-tempo {
      display: none;
    }

    .muski-sequencer-matrix {
      th {
        font-size: 1.2rem;
      }

      .muski-sequencer-row-label {
        width: 8.5rem;
      }
    }

    .bar-button {
      margin-top: 0.8rem;
      margin-bottom: 0.4rem;

      .bar-button-button {
        font-size: 1.2rem;
      }
    }

    .muski-drums-ai-panel {
      display: none;
    }

    .muski-drums-random-panel {
      display: none;
    }

    .muski-drums-controls-panel {
      display: none;
    }
  }

  .muski-drums-examples {
    position: absolute;
    top: 213px;
    left: 110px;

    .muski-drums-example .title {
      margin-top: -2rem;
      font-size: 1.25rem;
      text-align: right;
      position: relative;
      left: -100%;
      transform: rotate(270deg);
      transform-origin: top right;
      translate: -2rem 2rem;
      white-space: nowrap;
    }

    .pattern-diagram {
      margin-bottom: 2rem;
    }
  }

  .muski-drums-app-controls {
    position: absolute;
    display: flex;
    top: 790px;
    left: 555px;
    width: 906px;
  }

  .muski-drums-examples {
    transition: transform 0.5s ease-in-out;
  }

  .muski-drums-pane {
    transition: transform 0.5s ease-in-out;
  }

  .explainer {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .explainer-button-aligner {
    position: absolute;
    width: calc(33% - 2.5rem);
    height: 100%;
    right: 0;
    top: 0;
    pointer-events: none;

    .btn-explainer {
      pointer-events: auto;
      position: absolute;
      bottom: 2.5rem;
      right: 2.5rem;
      margin-right: 0;
      height: 4rem;
      transform: translateX(0);
      max-width: 40rem;
      transition: opacity 0.5s ease-in-out,
        transform 0.5s ease-in-out 0s,
        margin-right 0.5s ease-in-out 0s,
        right 0.5s ease-in-out 0s,
        max-width 0.5s ease-in-out 0s;
      white-space: nowrap;
      overflow: hidden;

      .open-text {
        opacity: 1;
        transition: opacity 0.25s ease-in-out 0.25s;
      }

      .close-icon {
        background-image: url('../../static/fa/xmark-solid-full.svg');
        background-size: 80% auto;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
      }
    }
  }

  &.with-explainer {
    .muski-drums-examples {
      transform: translateX($app-width * -0.13 * 1.5);
    }

    .muski-drums-pane {
      transform: translateX($app-width * -0.13);
    }

    .explainer {
      transform: translateX(0);
      opacity: 1;
    }

    .btn-explainer {
      right: 0;
      margin-right: 100%;
      transform: translateX(100%);
      max-width: 4rem;
      transition: opacity 0.5s ease-in-out,
        transform 0.5s ease-in-out,
        margin-right 0.5s ease-in-out,
        right 0.5s ease-in-out,
        max-width 0.35s ease-in-out 0.15s;

      .open-text {
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
      }

      .close-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 3.75rem;
        height: 3.75rem;
        opacity: 0.5;
        transition: opacity 0.25s ease-in-out 0.5s;
      }
    }
  }
}
